/* automatic import /usersite/themes/core_mixins.less */
/* automatic import /usersite/themes/responsive/columns.less */
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-33-67 .zoogle-column,
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-67-33 .zoogle-column,
#usersite-container div.zoogle-content[content-width~="<700"] .zoogle-columns-33-33-33 .zoogle-column {
  float: none;
  width: 100%;
  margin-left: 0;
}
#usersite-container div.zoogle-content[content-width~="<500"] .zoogle-columns-50-50 > .zoogle-column {
  float: none;
  width: 100%;
  margin-left: 0;
}
/* --------------------------
   Structure
-------------------------- */
.not-intro-page #usersite-container .site-wrap,
.not-intro-page #usersite-container .site-wide-feature-area .zoogle-content {
  max-width: 960px;
  margin: auto;
}
.not-intro-page #usersite-container:not(.mobile-view) .zoogle-columns-100 > .zoogle-column {
  width: 100%;
}
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-50-50 > .zoogle-column {
  width: 50%;
}
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-50-50 > .zoogle-column ~ .zoogle-column {
  margin-left: 0;
}
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-67-33 > .zoogle-column {
  width: 66%;
}
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-67-33 > .zoogle-column ~ .zoogle-column {
  width: 33%;
}
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-33-67 > .zoogle-column {
  width: 33%;
}
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-33-67 > .zoogle-column ~ .zoogle-column {
  width: 66%;
}
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-33-33-33 > .zoogle-column {
  width: 33%;
}
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-33-67 > .zoogle-column ~ .zoogle-column,
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-67-33 > .zoogle-column ~ .zoogle-column,
.not-intro-page #usersite-container:not(.mobile-view) div.zoogle-columns-33-33-33 > .zoogle-column ~ .zoogle-column {
  margin-left: 0%;
}
.not-intro-page #usersite-container .zoogle-columns-67-33 .resize-slider {
  margin-left: -23px !important;
}
.not-intro-page #usersite-container .zoogle-columns-67-33 .zoogle-new-column-placeholder {
  margin-left: -9px;
}
.not-intro-page #usersite-container .inner-page #title-wrap {
  bottom: 17%;
}
.not-intro-page #usersite-container #site-wide-header {
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 5px;
}
.not-intro-page #usersite-container #site-wide-header .content-container {
  padding: 0;
}
.not-intro-page #usersite-container #site-wide-header .my_sites {
  font-size: 0.65rem;
}
.not-intro-page #usersite-container .landing-page #site-wide-header {
  top: auto;
}
.not-intro-page #usersite-container header#page-header {
  position: relative;
}
.not-intro-page #usersite-container #title-wrap {
  position: absolute;
  bottom: 12%;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
.not-intro-page #usersite-container #title-wrap span.outer {
  padding: 0.15em;
  margin: 0 auto;
}
.not-intro-page #usersite-container .nav-bar {
  position: absolute;
  top: 60px;
  width: 100%;
}
.not-intro-page #usersite-container #main-nav.non-mobile {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}
.not-intro-page #usersite-container #main-nav.non-mobile li.top {
  margin: 0 2.5em;
}
.not-intro-page #usersite-container #main-nav.non-mobile li.top a.top {
  padding: 0.2em 0.4em;
}
.not-intro-page #usersite-container #content-wrap {
  max-width: none;
  padding-top: 25px;
}
.not-intro-page #usersite-container #content-wrap #content {
  max-width: 960px;
  margin: 0 auto;
}
.not-intro-page #usersite-container #content-wrap .feature {
  padding: 10px 25px;
}
.not-intro-page #usersite-container #content-wrap .feature .feature {
  padding: 10px 0;
}
.not-intro-page #usersite-container #content-wrap .zoogle-columns {
  margin-bottom: 25px;
}
.not-intro-page #usersite-container .subtitle-wrap {
  margin-left: -25px;
  margin-right: -25px;
  margin-bottom: 1em;
}
.not-intro-page #usersite-container .subtitle-wrap .subtitle {
  text-align: center;
  padding: 0.5em 0 1em 0;
}
.not-intro-page #usersite-container .nav-bar.mobile #toggle-mobile-menu {
  font-size: 17px;
}
.not-intro-page #usersite-container .nav-bar.mobile #toggle-mobile-menu a {
  margin-left: 2px;
}
.not-intro-page #usersite-container .nav-bar.mobile #toggle-mobile-menu a i.icon-close {
  font-size: 18px;
}
@media only screen and (max-width: 479px) {
  .not-intro-page #usersite-container .inner-page #table-wrap {
    bottom: 6%;
  }
  .not-intro-page #usersite-container #site-wide-header {
    display: none;
  }
  .not-intro-page #usersite-container #title-wrap {
    bottom: 3%;
  }
}
.not-intro-page #usersite-container.previewing-within-container[content-width~="<480"] .inner-page #table-wrap {
  bottom: 6%;
}
.not-intro-page #usersite-container.previewing-within-container[content-width~="<480"] #site-wide-header {
  display: none;
}
.not-intro-page #usersite-container.previewing-within-container[content-width~="<480"] #title-wrap {
  bottom: 3%;
}
@media (max-width: 500px) {
  .not-intro-page #usersite-container #site-wide-header {
    bottom: 1px;
  }
  .not-intro-page #usersite-container .landing-page #site-wide-header {
    top: 87%;
  }
}
.not-intro-page #usersite-container.previewing-within-container[content-width~="<500"] #site-wide-header {
  bottom: 1px;
}
.not-intro-page #usersite-container.previewing-within-container[content-width~="<500"] .landing-page #site-wide-header {
  top: 87%;
}
@media (max-width: 650px) {
  .not-intro-page #usersite-container .landing-page #site-wide-header {
    top: 89%;
  }
  .not-intro-page #usersite-container .landing-page #site-wide-header .my_sites {
    font-size: 0.4rem;
  }
}
.not-intro-page #usersite-container.previewing-within-container[content-width~="<660"] .landing-page #site-wide-header {
  top: 89%;
}
.not-intro-page #usersite-container.previewing-within-container[content-width~="<660"] .landing-page #site-wide-header .my_sites {
  font-size: 0.4rem;
}
/* --------------------------
   / Structure
-------------------------- */
/* --------------------------
   Variables: 

@theme-id: 161;
@variant-key: "a";
@text-color: #000000;
@link-color: #b50000;
@feature-title-color: #1c2261;
@nav-link-color: #ffffff;
@nav-link-rollover-color: #ffffff;
@sub-menu-background-color: #747a85;
@sub-menu-link-color: #ffffff;
@page-title-color: #ffffff;
@body-font-set: 4;
@body-font-set-main-family: 'Courier New', Courier, monospace;
@body-font-set-main-weight: normal;
@body-font-set-main-text-transform: none;
@body-font-set-main-font-style: normal;
@body-font-set-main-letter-spacing: normal;
@body-font-set-main-url: "";
@body-font-set-alt-family: 'Courier New', Courier, monospace;
@body-font-set-alt-weight: normal;
@body-font-set-alt-text-transform: none;
@body-font-set-alt-font-style: normal;
@body-font-set-alt-letter-spacing: normal;
@body-font-set-alt-url: "";
@body-size-number: 16px;
@feature-title-font-face: "CutiveMono-Regular";
@feature-title-font-face-base-url: "http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/";
@feature-title-font-face-svg-id: "CutiveMono-Regul";
@feature-title-size-number: 20px;
@page-title-font-face: "UniversLTStd-UltraCn";
@page-title-font-face-base-url: "http://s3.amazonaws.com/content.sitezoogle.com/u/191288/fonts/";
@page-title-font-face-svg-id: "UniversLTStd-UltraCn";
@page-title-size-number: 156px;
@button-font-face: "OpenSans";
@button-font-face-base-url: "http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/";
@button-font-face-svg-id: "OpenSans";
@button-size-number: 17px;
@swmp-use-custom-colors-boolean: false;
@swmp-background-color: #000000;
@swmp-text-color-enum: "white";
@page-title-type-enum: "logo";
@page-title-logo-background-image: url("http://s3.amazonaws.com/content.sitezoogle.com/u/191288/0f7b57b8cbec2dd2026433bb91172b92c8d200e6/original/sr-this-is-love-text.png?1461040250");
@page-title-logo-background-image-original-width: 3000px;
@page-title-logo-background-image-original-height: 1200px;
@page-title-string: "Sanctus Real";
@page-title-logo-size-number: 90%;
@site-wide-my-sites-size-number: 0.625rem;
@site-wide-my-sites-rgba: rgba(255, 255, 255, 0.7);
@site-wide-my-sites-hover-rgba: rgba(255, 255, 255, 1);
@page-title-transform-boolean: true;
@feature-title-transform-boolean: true;
@page-title-background-rgba: rgba(0, 0, 0, 0);
@nav-hover-bg-rgba: rgba(0, 0, 0, 0.7);
@intro-page-background-color: #ffffff;
@intro-page-text-color: #000000;
@nav-link-background-rgba: rgba(0, 0, 0, 0.48);
@mobile-nav-link-color: #000000;
@nav-transform-boolean: true;
@header-height-inner-page-number: 56%;
@header-height-front-page-number: 64%;
@feature-title-decoration-boolean: true;
@site-wide-my-sites-align-enum: "center";
@nav-link-selected-color: #ffffff;
@content-texture-enum: "Dark";
@content-background-color: #f0f0f0;
@button-color: #b50000;
@button-hover-color: #fc0000;
@button-shape-enum: "rounded";
@button-style-enum: "solid";
-------------------------- */
/* automatic import /usersite/themes/core_mixins.less */
/* automatic import /usersite/themes/theme_option_groups/global_colors.less */
.not-intro-page #usersite-container,
.not-intro-page #usersite-container legend,
.not-intro-page #usersite-container button {
  color: #000000;
}
.not-intro-page #usersite-container .FCK__AnchorC {
  color: #000000 !important;
}
.not-intro-page #usersite-container .text-main,
.not-intro-page #usersite-container h1,
.not-intro-page #usersite-container h2,
.not-intro-page #usersite-container h3,
.not-intro-page #usersite-container h4,
.not-intro-page #usersite-container h5 {
  color: #000000;
}
.not-intro-page #usersite-container a,
.not-intro-page #usersite-container .text-main a,
.not-intro-page #usersite-container h1 a,
.not-intro-page #usersite-container h2 a,
.not-intro-page #usersite-container h3 a,
.not-intro-page #usersite-container h4 a,
.not-intro-page #usersite-container h5 a {
  color: #b50000;
}
.not-intro-page #usersite-container .text-secondary {
  color: #262626;
  color: rgba(0, 0, 0, 0.75);
}
.not-intro-page #usersite-container .pagination .page a {
  color: #ff0202;
  color: rgba(181, 0, 0, 0.85);
}
.not-intro-page #usersite-container .pagination .page.current,
.not-intro-page #usersite-container .pagination .page a:hover,
.not-intro-page #usersite-container .pagination .page a:focus {
  color: rgba(0, 0, 0, 0.5);
}
.not-intro-page #usersite-container .text-tertiary {
  color: #4d4d4d;
  color: rgba(0, 0, 0, 0.55);
}
.not-intro-page #usersite-container .text-tertiary a {
  color: #262626;
  color: rgba(0, 0, 0, 0.85);
}
.not-intro-page #usersite-container .text-tertiary a:hover,
.not-intro-page #usersite-container .text-tertiary a:focus {
  color: #000000;
}
.not-intro-page #usersite-container .bg-accent-slight,
.not-intro-page #usersite-container .bg-accent-slight-hover:hover,
.not-intro-page #usersite-container table.ui-collection tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.not-intro-page #usersite-container .bg-accent {
  background-color: #8c8c8c;
  background-color: rgba(0, 0, 0, 0.2);
}
.not-intro-page #usersite-container .bg-accent-heavy {
  background-color: #808080;
  background-color: rgba(0, 0, 0, 0.5);
}
.not-intro-page #usersite-container .bg-main {
  background-color: #000000;
}
.not-intro-page #usersite-container .pagination .current,
.not-intro-page #usersite-container .pagination .page a:hover,
.not-intro-page #usersite-container .pagination .page a:focus {
  background-color: rgba(140, 140, 140, 0.5);
}
.not-intro-page #usersite-container .bg-highlight,
.not-intro-page #usersite-container a.bg-highlight {
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
  background-color: #b50000;
  border: 1px solid transparent;
}
.not-intro-page #usersite-container .bg-highlight,
.not-intro-page #usersite-container a.bg-highlight,
.not-intro-page #usersite-container .bg-highlight:hover,
.not-intro-page #usersite-container a.bg-highlight:hover,
.not-intro-page #usersite-container .bg-highlight:focus,
.not-intro-page #usersite-container a.bg-highlight:focus {
  color: rgba(255, 255, 255, 0.8);
}
.not-intro-page #usersite-container table.underlined th,
.not-intro-page #usersite-container table.underlined td,
.not-intro-page #usersite-container table.ui-collection th,
.not-intro-page #usersite-container table.ui-collection td,
.not-intro-page #usersite-container .border-accent th,
.not-intro-page #usersite-container .border-accent td,
.not-intro-page #usersite-container .border-accent {
  border-color: #8c8c8c;
  border-color: rgba(0, 0, 0, 0.2);
}
.not-intro-page #usersite-container .border-accent-embossed {
  border-color: #8c8c8c;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.35);
}
.not-intro-page #usersite-container .border-accent-dark {
  border-color: #8c8c8c;
  border-color: rgba(0, 0, 0, 0.35);
}
.not-intro-page #usersite-container .border-link {
  border-color: #b50000;
  border-color: rgba(181, 0, 0, 0.6);
}
.not-intro-page #usersite-container .pagination {
  border-top: 1px solid #8c8c8c;
}
.not-intro-page #usersite-container td.spacer {
  background: #8c8c8c;
  background: rgba(0, 0, 0, 0.2);
}
.not-intro-page #usersite-container input,
.not-intro-page #usersite-container textarea {
  color: #333;
  background-color: #fff;
}
.not-intro-page #usersite-container input[type="image"] {
  background-color: transparent;
}
.not-intro-page #usersite-container .simple_form textarea,
.not-intro-page #usersite-container .simple_form input {
  border: 1px solid #8c8c8c;
}
.not-intro-page #usersite-container .simple_form textarea:focus,
.not-intro-page #usersite-container .simple_form input:focus {
  border-color: #b50000;
  box-shadow: 0 0 4px rgba(181, 0, 0, 0.5);
}
.not-intro-page #usersite-container #mobile-header .bar {
  color: #000000;
}
.not-intro-page #usersite-container #mobile-header .bar a {
  color: #000000;
  border-color: #000000;
}
.not-intro-page #usersite-container .subtitle-wrap {
  color: #1c2261;
}
.not-intro-page #usersite-container footer .branding a {
  color: #000000;
}
.oldie.not-intro-page #usersite-container .zoogle-music-player .circle-button {
  color: #b50000;
}
.not-intro-page #usersite-container .track-number {
  color: rgba(0, 0, 0, 0.4);
}
/* automatic import /usersite/themes/theme_option_groups/global_menu_colors.less */
#usersite-container nav#main-nav.non-mobile ul ul li a:link,
#usersite-container nav#main-nav.non-mobile ul ul li a:visited {
  background-color: #747a85;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.8);
}
#usersite-container nav#main-nav.non-mobile ul ul li a:hover,
#usersite-container nav#main-nav.non-mobile ul ul li a:focus {
  color: #ffffff;
}
#usersite-container nav#main-nav.non-mobile ul ul:before,
#usersite-container nav#main-nav.non-mobile ul.horizontal ul:before {
  border-color: transparent transparent #747a85 transparent;
}
#usersite-container nav#main-nav.non-mobile ul.horizontal ul:after {
  border-color: #747a85 transparent transparent transparent;
}
#usersite-container nav#main-nav.non-mobile ul.vertical_right ul:before {
  border-color: transparent transparent transparent #747a85;
}
#usersite-container nav#main-nav.non-mobile ul.vertical_left ul:before {
  border-color: transparent #747a85 transparent transparent;
}
#usersite-container #toggle-mobile-menu a,
#usersite-container nav#main-nav.non-mobile a.top {
  color: #ffffff;
}
#usersite-container #toggle-mobile-menu a:hover,
#usersite-container nav#main-nav.non-mobile a.top:hover,
#usersite-container #toggle-mobile-menu a:focus,
#usersite-container nav#main-nav.non-mobile a.top:focus {
  color: #ffffff;
}
#usersite-container nav#main-nav li.selected a.top {
  color: #ffffff;
}
#usersite-container nav#main-nav.mobile a.top:hover {
  color: #ffffff;
}
/* automatic import /usersite/themes/theme_option_groups/global_menu_colors_selected.less */
#usersite-container nav#main-nav.non-mobile li.top.selected a.top {
  color: #ffffff;
}
#usersite-container nav#main-nav.non-mobile li.top.selected a.top:hover {
  color: #ffffff;
}
/* automatic import /usersite/themes/theme_option_groups/global_menu_fonts.less */
@font-face {
  font-family: "OpenSans";
  src: url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/OpenSans/OpenSans.eot?iefix") format("embedded-opentype"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/OpenSans/OpenSans.woff") format("woff"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/OpenSans/OpenSans.ttf") format("truetype"), url('http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/OpenSans/OpenSans.svg#button-font-face-svg-id') format('svg');
  font-weight: normal;
  font-style: normal;
}
#usersite-container nav#main-nav,
#usersite-container #page-root nav#main-nav {
  font-size: 17px;
}
#usersite-container nav#main-nav ul ul,
#usersite-container #page-root nav#main-nav ul ul {
  font-size: 12px;
}
#usersite-container nav#main-nav.non-mobile,
#usersite-container #page-root nav#main-nav.non-mobile {
  font-size: 17px;
}
#usersite-container nav#main-nav.non-mobile ul ul,
#usersite-container #page-root nav#main-nav.non-mobile ul ul {
  font-size: 12px;
}
#usersite-container nav#main-nav {
  font-family: "OpenSans";
}
/* automatic import /usersite/themes/theme_option_groups/global_mobile_menu.less */
#usersite-container nav#main-nav.mobile a.top:link,
#usersite-container nav#main-nav.mobile ul li a:link,
#usersite-container nav#main-nav.mobile a.top:visited,
#usersite-container nav#main-nav.mobile ul li a:visited,
#usersite-container nav#main-nav.mobile a.top:hover,
#usersite-container nav#main-nav.mobile ul li a:hover,
#usersite-container nav#main-nav.mobile a.top:active,
#usersite-container nav#main-nav.mobile ul li a:active {
  color: #000000;
}
/* automatic import /usersite/themes/theme_option_groups/global_content_fonts.less */
#usersite-container {
  text-align: left;
}
#usersite-container .main-font {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal;
}
#usersite-container .alt-font {
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal;
}
#usersite-container,
#usersite-container legend,
#usersite-container input,
#usersite-container textarea,
#usersite-container button {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal;
}
#usersite-container .gallery_feature li {
  font-size: 16px;
}
#usersite-container footer .branding a {
  text-decoration: none;
}
/* automatic import /usersite/themes/theme_option_groups/global_feature_title_fonts.less */
@font-face {
  font-family: "CutiveMono-Regular";
  src: url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/CutiveMono-Regular/CutiveMono-Regular.eot?iefix") format("embedded-opentype"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/CutiveMono-Regular/CutiveMono-Regular.woff") format("woff"), url("http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/CutiveMono-Regular/CutiveMono-Regular.ttf") format("truetype"), url('http://s3.amazonaws.com/content.sitezoogle.com/system/fonts/CutiveMono-Regular/CutiveMono-Regular.svg#feature-title-font-face-svg-id') format('svg');
  font-weight: normal;
  font-style: normal;
}
#usersite-container .subtitle-wrap {
  font-size: 20px;
  font-family: "CutiveMono-Regular";
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
}
/* automatic import /usersite/themes/theme_option_groups/global_feature_title_decoration.less */
/* automatic import /usersite/themes/theme_option_groups/global_page_title_logo.less */
h1#page-title.display-type-logo {
  width: 90%;
}
h1#page-title.display-type-logo span,
h1#page-title.display-type-logo img {
  width: 100%;
}
#page-root.display-type-logo [data-logo-size-target] {
  width: 90%;
}
#page-root.display-type-logo [data-logo-size-target] h1#page-title.display-type-logo {
  width: 100%;
}
/* automatic import /usersite/themes/theme_option_groups/global_page_title_color.less */
#page-title span.outer {
  color: #ffffff;
}
/* automatic import /usersite/themes/theme_option_groups/global_page_title_font.less */
@font-face {
  font-family: "UniversLTStd-UltraCn";
  src: url("http://s3.amazonaws.com/content.sitezoogle.com/u/191288/fonts/UniversLTStd-UltraCn/UniversLTStd-UltraCn.eot?iefix") format("embedded-opentype"), url("http://s3.amazonaws.com/content.sitezoogle.com/u/191288/fonts/UniversLTStd-UltraCn/UniversLTStd-UltraCn.woff") format("woff"), url("http://s3.amazonaws.com/content.sitezoogle.com/u/191288/fonts/UniversLTStd-UltraCn/UniversLTStd-UltraCn.ttf") format("truetype"), url('http://s3.amazonaws.com/content.sitezoogle.com/u/191288/fonts/UniversLTStd-UltraCn/UniversLTStd-UltraCn.svg#page-title-font-face-svg-id') format('svg');
  font-weight: normal;
  font-style: normal;
}
#usersite-container .project-name {
  font-family: "UniversLTStd-UltraCn";
  font-weight: normal;
}
#usersite-container h1#page-title .outer {
  font-family: "UniversLTStd-UltraCn";
  font-weight: normal;
  font-size: 156px;
}
#usersite-container h1#page-title.display-type-logo span.outer,
#usersite-container h1#page-title.display-type-none span.outer {
  font-size: 0;
}
#usersite-container h1#page-title.display-type-none span {
  display: none;
}
#usersite-container #title-wrap h1#page-title.display-type-logo span,
#usersite-container #title-wrap h1#page-title.display-type-logo span img {
  width: 100%;
}
/* automatic import /usersite/themes/theme_option_groups/global_page_title_transform.less */
#usersite-container .title-wrap .outer,
#usersite-container #title-wrap .outer {
  text-transform: uppercase;
}
/* automatic import /usersite/themes/theme_option_groups/global_site_wide_my_sites.less */
#usersite-container #site-wide-header .zoogle-columns {
  height: auto !important;
}
#usersite-container #site-wide-header .zoogle-columns .my_sites {
  font-size: 0.625rem;
}
#usersite-container #site-wide-header .zoogle-columns .my_sites li a {
  color: rgba(255, 255, 255, 0.7);
}
#usersite-container #site-wide-header .zoogle-columns .my_sites li a:hover {
  color: #ffffff;
}
.wysiwyg #usersite-container #main-nav.mobile .my_site_feature {
  padding: 0;
}
.wysiwyg #usersite-container #main-nav.mobile .my_site_feature ul.my_sites {
  text-align: left;
}
/* automatic import /usersite/themes/theme_option_groups/global_site_wide_my_sites_align.less */
#usersite-container #site-wide-header .my_sites {
  text-align: center;
}
/* automatic import /usersite/themes/theme_option_groups/global_swmp.less */
#sticky-footer .music_feature .music-player.display-swmp {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.95);
}
#sticky-footer .music_feature .music-player.display-swmp .player-title .title {
  color: #fff;
  color: rgba(255, 255, 255, 0.9);
}
#sticky-footer .music_feature .music-player.display-swmp .artist {
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
}
#sticky-footer .music_feature .music-player.display-swmp .artist span {
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
#sticky-footer .music_feature .music-player.display-swmp .player .action .button {
  font-size: 12px;
  min-width: 55px;
}
#sticky-footer .music_feature .music-player.display-swmp .player a.play-button,
#sticky-footer .music_feature .music-player.display-swmp .player a.button {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}
#sticky-footer .music_feature .music-player.display-swmp .player a.play-button:hover,
#sticky-footer .music_feature .music-player.display-swmp .player a.button:hover,
#sticky-footer .music_feature .music-player.display-swmp .player a.play-button:focus,
#sticky-footer .music_feature .music-player.display-swmp .player a.button:focus {
  background-color: rgba(255, 255, 255, 0.325);
}
#sticky-footer .music_feature .music-player.display-swmp .player a.play-button:active,
#sticky-footer .music_feature .music-player.display-swmp .player a.button:active {
  background-color: rgba(255, 255, 255, 0.35);
}
#sticky-footer .music_feature .music-player.display-swmp .player a,
#sticky-footer .music_feature .music-player.display-swmp .player .button {
  color: #fff;
}
#sticky-footer .music_feature .music-player.display-swmp .player .progress {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.4);
}
#sticky-footer .music_feature .music-player.display-swmp .player .progress .position {
  background: #fdfdfd;
  background: rgba(255, 255, 255, 0.7);
}
#sticky-footer .music_feature .music-player.display-swmp .time {
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
#sticky-footer .music_feature .music-player.display-swmp .text-tertiary {
  color: rgba(255, 255, 255, 0.7);
}
/* automatic import /usersite/themes/theme_option_groups/global_intro_page.less */
.intro-page #usersite-container {
  color: #000000;
}
.intro-page #usersite-container,
.intro-page #usersite-container #page-root {
  background-color: #ffffff;
}
.intro-page #usersite-container a:not(.button):link,
.intro-page #usersite-container a:not(.button):visited {
  color: #000000;
}
.intro-page #usersite-container .button,
.intro-page #usersite-container input[type=submit] {
  background-color: #000000;
  color: #ffffff;
}
.intro-page #usersite-container .button:hover,
.intro-page #usersite-container input[type=submit]:hover,
.intro-page #usersite-container .button:focus,
.intro-page #usersite-container input[type=submit]:focus {
  opacity: 0.8;
}
/* automatic import /usersite/themes/theme_option_groups/global_buttons.less */
#usersite-container .button {
  border-radius: 4px;
}
#usersite-container form.simple_form input,
#usersite-container form.simple_form input[type="submit"],
#usersite-container form.simple_form input[type="reset"],
#usersite-container form.simple_form input[type="button"],
#usersite-container form.simple_form textarea {
  border-radius: 4px;
}
#usersite-container .button-circle {
  border-radius: 40px;
}
.not-intro-page #usersite-container .button,
.intro-page #usersite-container .button,
.not-intro-page #usersite-container input[type=submit],
.intro-page #usersite-container input[type=submit] {
  border: 1px solid transparent;
  transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.25s ease-in-out;
}
.not-intro-page #usersite-container .button.disabled,
.intro-page #usersite-container .button.disabled,
.not-intro-page #usersite-container input[type=submit].disabled,
.intro-page #usersite-container input[type=submit].disabled,
.not-intro-page #usersite-container .button[disabled],
.intro-page #usersite-container .button[disabled],
.not-intro-page #usersite-container input[type=submit][disabled],
.intro-page #usersite-container input[type=submit][disabled],
.not-intro-page #usersite-container .button.disabled:hover,
.intro-page #usersite-container .button.disabled:hover,
.not-intro-page #usersite-container input[type=submit].disabled:hover,
.intro-page #usersite-container input[type=submit].disabled:hover,
.not-intro-page #usersite-container .button[disabled]:hover,
.intro-page #usersite-container .button[disabled]:hover,
.not-intro-page #usersite-container input[type=submit][disabled]:hover,
.intro-page #usersite-container input[type=submit][disabled]:hover,
.not-intro-page #usersite-container .button.disabled:focus,
.intro-page #usersite-container .button.disabled:focus,
.not-intro-page #usersite-container input[type=submit].disabled:focus,
.intro-page #usersite-container input[type=submit].disabled:focus,
.not-intro-page #usersite-container .button[disabled]:focus,
.intro-page #usersite-container .button[disabled]:focus,
.not-intro-page #usersite-container input[type=submit][disabled]:focus,
.intro-page #usersite-container input[type=submit][disabled]:focus {
  background-color: rgba(172, 9, 9, 0.7);
}
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary),
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary),
.not-intro-page #usersite-container input[type="submit"],
.intro-page #usersite-container input[type="submit"] {
  color: rgba(255, 255, 255, 0.8);
  background-color: #b50000;
}
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):hover,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):hover,
.not-intro-page #usersite-container input[type="submit"]:hover,
.intro-page #usersite-container input[type="submit"]:hover,
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):focus,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):focus,
.not-intro-page #usersite-container input[type="submit"]:focus,
.intro-page #usersite-container input[type="submit"]:focus,
.not-intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):active,
.intro-page #usersite-container .button:not(.button-secondary):not(.button-tertiary):active,
.not-intro-page #usersite-container input[type="submit"]:active,
.intro-page #usersite-container input[type="submit"]:active {
  color: rgba(255, 255, 255, 0.8);
  background-color: #fc0000;
}
.not-intro-page #usersite-container .button-secondary,
.intro-page #usersite-container .button-secondary {
  color: #b50000;
  border-color: #b50000;
}
.not-intro-page #usersite-container .button-secondary:hover,
.intro-page #usersite-container .button-secondary:hover,
.not-intro-page #usersite-container .button-secondary:focus,
.intro-page #usersite-container .button-secondary:focus,
.not-intro-page #usersite-container .button-secondary:active,
.intro-page #usersite-container .button-secondary:active {
  background-color: #fc0000;
  border-color: #fc0000;
  color: #fff;
}
.not-intro-page #usersite-container .button-tertiary:hover,
.intro-page #usersite-container .button-tertiary:hover,
.not-intro-page #usersite-container .button-tertiary:focus,
.intro-page #usersite-container .button-tertiary:focus,
.not-intro-page #usersite-container .button-tertiary:active,
.intro-page #usersite-container .button-tertiary:active {
  color: rgba(255, 255, 255, 0.8);
  background-color: #fc0000;
}
/* --------------------------
   Skin
-------------------------- */
.not-intro-page .display-mode-mobile #usersite-container.previewing-within-container .nav-bar.mobile,
.not-intro-page .view-mode-mobile #usersite-container.previewing-within-container .nav-bar.mobile {
  width: 320px;
}
.not-intro-page #usersite-container {
  background: #f0f0f0 url("") 0 0 repeat;
}
.not-intro-page #usersite-container #page-photo {
  padding-top: 56%;
  overflow: hidden;
  position: relative;
}
.not-intro-page #usersite-container #page-photo .page-photo-wrap,
.not-intro-page #usersite-container #page-photo .page-photos {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.not-intro-page #usersite-container .page-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
}
@media (max-width: 650px) {
  .not-intro-page #usersite-container #page-photo {
    padding-top: 200px;
  }
}
@media (max-width: 500px) {
  .not-intro-page #usersite-container #page-photo {
    padding-top: 150px;
  }
}
.not-intro-page #usersite-container .landing-page #page-photo {
  padding-top: 64%;
  overflow: hidden;
  position: relative;
}
.not-intro-page #usersite-container .landing-page #page-photo .page-photo-wrap,
.not-intro-page #usersite-container .landing-page #page-photo .page-photos {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 0;
}
.not-intro-page #usersite-container .landing-page .page-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0 0;
}
@media (max-width: 650px) {
  .not-intro-page #usersite-container .landing-page #page-photo {
    padding-top: 250px;
  }
}
@media (max-width: 500px) {
  .not-intro-page #usersite-container .landing-page #page-photo {
    padding-top: 200px;
  }
}
.not-intro-page #usersite-container #main-nav.non-mobile {
  text-transform: uppercase;
}
.not-intro-page #usersite-container .subtitle-wrap .subtitle {
  text-transform: uppercase;
}
.not-intro-page #usersite-container #title-wrap span.outer {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0);
}
.not-intro-page #usersite-container.previewing-within-container .nav-bar.mobile {
  z-index: 51;
}
.not-intro-page #usersite-container .nav-bar.mobile {
  width: 100%;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.not-intro-page #usersite-container .nav-bar.mobile #toggle-mobile-menu a {
  display: inline-block;
  color: #ffffff !important;
  padding: 0.5em;
  margin-left: 0.5em;
}
.not-intro-page #usersite-container #main-nav.mobile {
  padding-top: 5em;
  box-sizing: border-box;
}
.not-intro-page #usersite-container #main-nav.non-mobile li.top a.top {
  background-color:#333;/*rgba(0, 0, 0, 0.48);*/
}
.not-intro-page #usersite-container #main-nav.non-mobile li.top.selected a.top,
.not-intro-page #usersite-container #main-nav.non-mobile li.top:hover a.top {
  background-color: rgba(0, 0, 0, 0.7);
}
.not-intro-page #usersite-container #site-wide-header .my_sites li {
  margin: 0 0.15rem 0.15rem 0.15rem;
}
.not-intro-page #usersite-container #site-wide-header .my_sites li a {
  border-radius: 50%;
  padding: 0.25em;
  width: 1em;
  height: 1em;
  background-color: rgba(0, 0, 0, 0.48);
}
.not-intro-page #usersite-container .subtitle-wrap {
  position: relative;
}
.not-intro-page #usersite-container .subtitle-wrap:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: transparent url("http://assets.sitezoogle.com/usersite/themes/161/a/subtitle-border.png") bottom left repeat-x;
}
.not-intro-page #usersite-container div.zoogle-columns-50-50 > .zoogle-column,
.not-intro-page #usersite-container div.zoogle-columns-67-33 > .zoogle-column,
.not-intro-page #usersite-container div.zoogle-columns-33-67 > .zoogle-column,
.not-intro-page #usersite-container div.zoogle-columns-33-33-33 > .zoogle-column,
.not-intro-page #usersite-container div.zoogle-columns-33-33-33 > .zoogle-column ~ .zoogle-column {
  background: transparent url("http://assets.sitezoogle.com/usersite/themes/161/a/column-border.png") top right repeat-y;
}
@media (max-width: 650px) {
  .not-intro-page #usersite-container .landing-page #site-wide-header .my_sites {
    font-size: 0.5rem;
  }
}
.not-intro-page #usersite-container.previewing-within-container[content-width~="<660"] .landing-page #site-wide-header .my_sites {
  font-size: 0.5rem;
}
/* --------------------------
   / Skin
-------------------------- */
/* --------------------------
   Custom CSS
-------------------------- */
/* --------------------------
   / Custom CSS
-------------------------- */
